node_modules
.env
.env copy
uploads
*.log
.DS_Store
config/gdrive-service-account.json
config/gdrive-service-accountv2.json
config/gdrive-service-account_copy.json
config/intranet-documentacion-29c5e393b4fc_copia.json